POSTGRES_DB=yeosal
POSTGRES_USER=yeosal
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
HTTP_PORT=8088
SERVER_SERVLET_CONTEXT_PATH=/yeolsal
YEOSAL_JWT_SECRET=replace-with-at-least-32-random-characters
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=https://api.rearleg.com/yeolsal/api/v1/auth/kakao/callback
KAKAO_MOBILE_REDIRECT_URI=yeosal://auth/kakao
